
#nave a{
    font-size: 16px;
    
    
}

p{
    font-size: 18px;
    
}

#pres img{
    border-radius: 25%;
    border-style: dotted;
}

#Proyecto img{
    border-style: dotted;
    color: rgb(253, 87, 165);
}
#Act img{
    border-radius: 50px;
    
}

#h2e h4{
    font-size: 18px;
}
#h2e p{
    font-size: 14px;
}

