
#nave a{
    font-size: 25px;
    
    
}

p{
    font-size: 22px;
    
}

#pres img{
    border-radius: 25%;
    border-style: dotted;
}

#Proyecto img{
    border-style: dotted;
    color: rgb(253, 87, 165);
}
#Act img{
    border-radius: 50px;
}


